* {
  box-sizing: border-box;
}

.text {
  display: inline-block;
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
}

.text .tooltip {
  visibility: hidden;
  width: 100px;
  left: 60%;
  margin-left: -60px;
  background-color: grey;
  color: white;
  
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.text:hover .tooltip {
  visibility: visible;
  bottom: -40px;
}
