header {
  text-align: center;
}

.articles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 15%;
  flex-grow: 1;
  min-width: 300px;
}
