li {
  margin-bottom: 16px;
}
ol li > span {
  background-color: green;
  color: white;
}
ul li > span {
  background-color: orange;
  color: white;
}
li#special + li {
  border: 3px solid red; 
}
#special ~ li {
  margin-left: 16px;
}
