* {
  box-sizing: border-box;
}

.header {
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  position: fixed;
}

.navigation {
  height: 40px;
  color: white;
}

.nav-list {
  height: 40px;
}

.nav-item {
  margin-left: 16px;
  float: left;
  list-style: none;
  line-height: 100%; 
  
}

.content {
  height: 5000px;
  background-color: beige;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin: calc(50%);
  position: absolute;
}

.ear {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: absolute;
}

.ear_right {
  margin-left: 100%;
  margin-top: -60px;
}

.ear_left {
  margin-left: -20%;
  margin-top: -60px;
}

.eye {
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 50%;
}

.eye_right {
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  float: right;
}

.eye_left {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
}
