* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.spinner {
  position: absolute;
  align-items: center;
  margin-top: 50vh;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}

.rect {
  position: relative;
  height: 4px;
  width: 10px;
  background-color: black;
  border-radius: 2px;
  animation: moving 2s infinite, blinking 2s linear infinite;
  animation-direction: alternate;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
