* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

.header {
  background: linear-gradient(60deg, red, orange);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.section {
  width: 60%;
  padding: 0.5em;
}

.news {
  width: 20%;
  padding: 0.5em;
}

.section {
  font-size: 1.25em;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-weight: 700;
  font-size: 1.125em;
}

.nav-list {
  padding: 0;
}

.nav-list-item {
  list-style-type: none;
  line-height: 2em;
  background-color: #808080;
  margin-bottom: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-list-link {
  color: white;

  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
