* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  border-collapse: collapse;
}

td,
tr {
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
}

.none-border {
  border: none !important;
  background-color: white !important;
}

tr.black:nth-child(even) > td:nth-child(2n + 3) {
  background-color: black;
}

tr.black:nth-child(odd) > td:nth-child(2n + 2) {
  background-color: black;
}
